<link rel="icon" data-emoji="{{page.favicon}}" type="image/png">

<script>

    const favicon = document.querySelector("link[rel=icon]");

    if (favicon) {
    var emoji = favicon.getAttribute("data-emoji");
    if (emoji === ""){
        emoji = "💜";
    }

        if (emoji) {
            const canvas = document.createElement("canvas");
            canvas.height = 64;
            canvas.width = 64;

            const ctx = canvas.getContext("2d");
            ctx.font = "64px serif";
            ctx.fillText(emoji, 0, 56);

            favicon.href = canvas.toDataURL();
            favicon.href = "https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/microsoft/153/heavy-black-heart_2764.png";
            console.log(favicon.href);
        }
    }

</script>

