<link rel="icon" data-emoji="{{page.favicon}}" type="image/png">

<script>

    const favicon = document.querySelector("link[rel=icon]");

    if (favicon) {
    var emoji = favicon.getAttribute("data-emoji");
    if (emoji === ""){
        emoji = "💜";
    }

        if (emoji) {
            const canvas = document.createElement("canvas");
            canvas.height = 64;
            canvas.width = 64;

            const ctx = canvas.getContext("2d");
            ctx.font = "64px serif";
            ctx.fillText(emoji, 0, 56);

            favicon.href = canvas.toDataURL();
        }
    }

</script>

<link rel="icon" data-emoji="" type="image/png">